<a class="menu-toggle rounded-circle" href="#"><i class="fas fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="#page-top">調整ボーイ</a></li>
    <li class="sidebar-nav-item"><a href="#page-top">利用規約</a></li>
    <li class="sidebar-nav-item"><a href="#about">プライバシーポリシー</a></li>
    <li class="sidebar-nav-item"><a href="#services">お問い合わせ</a></li>
  </ul>
</nav>
<!-- Header-->
<header class="masthead d-flex align-items-center">
  <div class="container px-4 px-lg-5 text-center">
    <%= image_tag "namakemono.jpg", alt: "なまけもの", class: "namakemono-image", style: "width: 133px; height: 100px; margin-bottom: 20px;" %>
    <h5>詳細決まってないけど</h5>
    <h2>予定どうする？</h2>
    <a href="https://lin.ee/Hec9H2m"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
  </div>
</header>
<!-- こんな経験ない？ -->
<div class="content-section">
  <div class="container text-center">
    <div class="col-lg-10 mx-auto">
      <h5>友だちとの予定でこんな経験ない？</h5>
      <p class="custom-p">日にちだけ決めたけど何するか決まってない！</p>
      <p class="custom-p">することだけ決めたけど日程が決まってない！</p>
      <p class="custom-p">そんなときはこのアプリを使おう！</p>
    </div>
  </div>
</div>
<!-- 使い方 -->
<div class="content-section">
  <div class="container text-center">
    <div class="col-lg-10 mx-auto">
      <h5>まずはbotを友だち登録</h5>
    </div>
  </div>
</div>
<div class="content-section">
  <div class="container text-center">
    <div class="col-lg-10 mx-auto">
      <h5>botをグループトークに招待</h5>
    </div>
  </div>
</div>
<div class="content-section">
  <div class="container text-center">
    <div class="col-lg-10 mx-auto">
      <h5>botを使って予定を立てよう</h5>
    </div>
  </div>
</div>
<div class="content-section">
  <div class="container text-center">
    <div class="col-lg-10 mx-auto">
      <h5>botとのトーク画面では</h5>
      <h5>所属グループの予定が一覧で見れるよ</h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="timeline">
        <div class="timeline-event">
          <div class="timeline-event-icon">
            <i class="fas fa-circle"></i>
          </div>
          <div class="timeline-event-label">Step 1</div>
          <div class="timeline-event-content">Content for Step 1</div>
        </div>
        <div class="timeline-event">
          <div class="timeline-event-icon">
            <i class="fas fa-circle"></i>
          </div>
          <div class="timeline-event-label">Step 2</div>
          <div class="timeline-event-content">Content for Step 2</div>
        </div>
        <div class="timeline-event">
          <div class="timeline-event-icon">
            <i class="fas fa-circle"></i>
          </div>
          <div class="timeline-event-label">Step 3</div>
          <div class="timeline-event-content">Content for Step 3</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Services-->
<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Services</h3>
            <h2 class="mb-5">What We Offer</h2>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-smartphone"></i></span>
                <h4><strong>Responsive</strong></h4>
                <p class="text-faded mb-0">Looks great on any screen size!</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-pencil"></i></span>
                <h4><strong>Redesigned</strong></h4>
                <p class="text-faded mb-0">Freshly redesigned for Bootstrap 5.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-like"></i></span>
                <h4><strong>Favorited</strong></h4>
                <p class="text-faded mb-0">
                    Millions of users
                    <i class="fas fa-heart"></i>
                    Start Bootstrap!
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-mustache"></i></span>
                <h4><strong>Question</strong></h4>
                <p class="text-faded mb-0">I mustache you a question...</p>
            </div>
        </div>
    </div>
</section>
<!-- Callout-->
<section class="callout">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mx-auto mb-5">
            Welcome to
            <em>your</em>
            next website!
        </h2>
        <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/theme/stylish-portfolio/">Download Now!</a>
    </div>
</section>
<!-- Portfolio-->
<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Portfolio</h3>
            <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row gx-0">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Stationary</div>
                            <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio-1.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Ice Cream</div>
                            <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio-2.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Strawberries</div>
                            <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio-3.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Workspace</div>
                            <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio-4.jpg" alt="..." />
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Call to Action-->
<section class="content-section bg-primary text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">The buttons below are impossible to resist...</h2>
        <a class="btn btn-xl btn-light me-4" href="#!">Click Me!</a>
        <a class="btn btn-xl btn-dark" href="#!">Look at Me!</a>
    </div>
</section>
<!-- Footer-->
<footer class="footer text-center">
    <div class="container px-4 px-lg-5">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-facebook"></i></a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="#!"><i class="icon-social-github"></i></a>
            </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; Your Website 2023</p>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->