<%= render 'shared/navbar' %>
<div class="schedules">
  <div class="container mt-1">
    <div class="section-header text-center">
      <h4>決まってない予定一覧</h4>
    </div>
    <div class="row gy-4 justify-content-center" data-aos="fade-up" data-aos-delay="100">
      <% if @schedules.present? %>
        <div class="text-center" style="display: flex; justify-content: center; align-items: center; gap: 10px;">
          <%= image_tag "cheering_woman_color.png", alt: "cheering_woman_color", style: "width: 30px; height: 33px;"%>
          <p class="mb-0"><span style="font-size: 24px;"><%= @schedules.count %></span>つあるよ！そろそろ決めよ！</p>
        </div>
        <%= render partial: 'schedule', collection: @schedules %>
      <% else %>
        <div class="text-center">
          <p style="margin-top: 40px;">まだ予定がないよ！</p>
          <p>使い方はTOPページを確認してね</p>
        </div>
      <% end %>
    </div>
  </div>
</div>