<div class="schedules">
  <div class="container mt-1">
    <div class="section-header text-center">
      <h4>予定詳細</h4>
    </div>
    <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
      <%= render partial: 'schedule', locals: { schedule: @schedule } %>
    </div>
  </div>
</div>