<footer class="footer p-3 bg-white text-dark" style="border-top: 1px solid #ccc; box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2); margin-top: 20px;">
  <div class="container d-flex align-items-center" style="height: 100%;">
    <div class="row">
      <div class="col">
        <ul class="list-unstyled">
          <%= link_to '利用規約', '#' %>
          <%= link_to 'プライバシーポリシー', '#' %>
          <%= link_to 'お問い合わせ', '#' %>
        </ul>
      </div>
    </div>
  </div>
</footer>