<header class="footer p-3 bg-white text-dark" style="border-bottom: 1px solid #ccc; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);">
  <div class="container d-flex align-items-center" style="height: 100%;">
    <div class="row">
      <div class="col">
        <%= link_to '調整ボーイ', root_path %>
        <%= link_to '予定一覧', schedules_path %>
      </div>
    </div>
  </div>
</header>