<div class="usage-guide-container pt-2">
  <div class="container usage-guide scroll-fade-in">
    <div class="text-center">
      <h5>使い方</h5>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="timeline">
          <div class="timeline-event">
            <div class="timeline-event-icon">
              <i class="fas fa-circle"></i>
            </div>
            <div class="timeline-event-label"><h5>まずは決め代を友だち追加</h5></div>
            <div class="timeline-event-content">
              <p class="no-margin">決め代を友だち追加しよう。</p>
            </div>
          </div>
          <div class="timeline-event">
            <div class="timeline-event-icon">
              <i class="fas fa-circle"></i>
            </div>
            <div class="timeline-event-label"><h5>決め代をグループトークに招待</h5></div>
            <div class="timeline-event-content">
              <p class="no-margin">予定決めをナマけちゃいがちなグループに招待しよう。</p>
              <p class="no-margin">複数のグループに招待できるよ。</p>
            </div>
          </div>
          <div class="timeline-event">
            <div class="timeline-event-icon">
              <i class="fas fa-circle"></i>
            </div>
            <div class="timeline-event-label"><h5>予定を見える化しよう</h5></div>
            <div class="timeline-event-content">
              <p class="no-margin">決め代が「予定を見える化」ボタンを送ってくれるよ！</p>
              <p class="no-margin">予定がどこまで決まっているのか伝えてね。</p>
              <p class="no-margin">決め代が代表者と期日を勝手に決めてメッセージに書き起こすよ。</p>
              <p class="no-margin">※以下、開発中のデザインです</p>
              <div>
                <%= image_tag "flexmessage2.jpg", alt: "フレックスメッセージ", class: "flexmessage2-image my-3", style: "width: 80%;" %>
              </div>
              <p class="no-margin">メッセージをクリックすると予定の編集ができるよ。期日までに予定を決め切って「確定」させよう！</p>
              <p class="no-margin">期日までに予定が「確定」してない場合通知を届けるね！</p>
            </div>
          </div>
          <div class="timeline-event">
            <div class="timeline-event-icon">
              <i class="fas fa-circle"></i>
            </div>
            <div class="timeline-event-label"><h5>公式メニューを利用しよう</h5></div>
            <div class="timeline-event-content">
              <p class="custom-p">公式メニューから決まってない予定一覧を確認できるよ。</p>
              <p class="no-margin">※確定された予定、削除された予定は一覧から消えます。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>